body {
  background-color: #ccc;
}
.container, header, nav, footer {
  padding: 0 10px;
  border-top: 1px dashed #ccc;
}
nav {
  padding: 10px;
}
footer {
  padding-top: 15px;
}
.wrapper {
  background-color: #fff;
  margin: 20px auto;
  width: 600px;
  padding: 5px 5px 15px 5px;
  box-shadow: 5px 5px 5px #999;
}
footer {
  text-align: center;
}
.post_info {
  border: dashed 2px #ccc;
  padding: 10px 15px;
  margin: 20px 10px;
}
li {
  list-style-type: none;
  padding: 3px 0;
}
a {
  color: #02839b;
  text-decoration: none;
  transition: 1s;
}
a:hover {
  color: #ff7800;
}
h1 {
  font-family: 'ABeeZee', sans-serif;
  font-size: 95px;
  text-align: center;
  margin: 10px 0;
}
h5 {
  font-size: 15px;
}
label {
  font-weight: 600;
  display: inline-block;
  width: 80px;
}
input,textarea {
  width: 210px;
  margin: 5px 0;
}
.bold {
  font-weight: 600;
}
.thin {
  font-weight: 300;
}
.small {
  font-size: 0.85em;
}
.smaller {
  font-size: 0.8em;
}
.right {
  float: right;
}