<div class="container">
  <h3>Categories:</h3>
  <ul>
  <% if @categories %>
    <% @categories.each do |category| %>
      <li><a href="/categories/<%= category.id %>"><%= category.title %></a></li>
    <% end %>
  <% else %>
    <li>There are no categories to display</li>
  <% end %>
  <ul>
</div>
